.markdown-body table {
	display: table !important;
}

table td.company-name {
	width: 34%;
}
table td.company-website {
	width: 33%;
}
table td.company-region {
	width: 33%;
}

#company-filter {
	margin: 0 16px;
	font-weight: normal;
	font-size: 16px;
	vertical-align: text-top;
}

/* Sort indicators adapted from http://listjs.com/examples/table/ */

.sort.asc:after,
.sort.desc:after {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content:"";
	display: inline-block;
	position: relative;
	left: 3px;
	top: -1px;
}

.sort.asc:after {
	border-bottom: 6px solid #000;
}

.sort.desc:after {
	border-top: 6px solid #000;
}
