/**
 * Global styles
 */

span[role=separator] {
	padding: 0 0.2em;
}

span[role=separator]::before {
	content: '\2022';
	font-weight: 700;
}

@media screen and (max-width: 600px) {
	footer span[role=separator]::before {
		content: '\A';
		white-space: pre;
	}
}

.site-info a {
	color: #c61610;
}

a:hover,
.site-footer a:hover {
	color: #999;
}

/**
 * Styles for company profile pages
 */

h1.company-name {
	margin-bottom: 8px;
}

.section-atAGlance {
	font-size: 15px;
	color: #999;
	font-size: 85%;
}

/**
 * Styles for the companies table and filters on the main page
 */

#company-filter {
	margin: 0 0 0 16px;
	padding: 8px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 300;
	vertical-align: middle;
}

#filters-explanation {
	font-style: italic;
	font-size: 15px;
}

@media screen and (min-width: 50em) {
	#filters-explanation {
		font-size: 16px;
	}
}

body.filters-enabled table#companies-table th {
	padding: 0;
}

table#companies-table button.sort {
	width: 100%;
	border-width: 0;
	border-radius: 0;
	padding: 7px 3px 4px;
	text-align: left;
	font-weight: 700;
	color: #666;
	outline: none;
}
table#companies-table button.sort:hover,
table#companies-table button.sort:focus {
	color: #c61610;
}
table#companies-table button.sort:hover {
	background: #f4f4f4;
}

/* Sort indicators adapted from http://listjs.com/examples/table/ */

table#companies-table .sort.asc:after,
table#companies-table .sort.desc:after {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: '';
	display: inline-block;
	position: relative;
	left: 3px;
	top: -2px;
}

table#companies-table .sort.asc:after {
	border-bottom: 6px solid;
}

table#companies-table .sort.desc:after {
	border-top: 6px solid;
}

/* Column-specific styles */

table#companies-table td.company-name {
	font-weight: 700;
	width: 40%;
}

table#companies-table td.company-website {
	width: 35%;
}

table#companies-table td.company-region {
	width: 25%;
}

/* Mobile-friendly display */

@media screen and (max-width: 600px) {
	body.filters-enabled h2#companies {
		margin-bottom: 18px;
	}

	#company-filter {
		display: block;
		width: 100%;
		margin: 27px 0 0 0;
	}

	table#companies-table,
	table#companies-table thead,
	table#companies-table tbody,
	table#companies-table tr {
		display: block;
	}

	table#companies-table tr {
		border-bottom: 1px solid #eee;
		padding: 0 0 8px 12px;
	}

	table#companies-table button.sort {
		width: auto;
		padding-left: 6px;
		padding-right: 6px;
	}

	table#companies-table .sort.asc:after,
	table#companies-table .sort.desc:after {
		margin-right: 2px;
	}

	table#companies-table thead tr {
		border-bottom-width: 3px;
		padding: 0;
	}

	table#companies-table th,
	table#companies-table td {
		width: auto !important;
		padding-left: 0;
		padding-right: 0;
		border-bottom-width: 0;
	}

	table#companies-table th {
		display: inline-block;
	}

	table#companies-table th::after {
		padding: 0 3px 0 6px;
		content: '/';
	}

	table#companies-table th:last-child::after {
		display: none;
	}

	table#companies-table td.company-name {
		display: flex;
		font-size: 16px;
		font-weight: 700;
		padding-bottom: 0;
		margin-left: -12px;
	}

	table#companies-table td.company-name a {
		flex: 100%;
	}

	table#companies-table td.company-website,
	table#companies-table td.company-region {
		display: inline;
		padding: 0;
	}

	table#companies-table td.company-region::before {
		padding: 0 6px 0 3px;
		content: '/';
	}

	table#companies-table td.company-region:empty::before {
		display: none;
	}
}
