/**
 * Global styles
 */

span[role=separator] {
	padding: 0 0.2em;
}

span[role=separator]::before {
	content: '\2022';
	font-weight: 700;
}

@media screen and (max-width: 600px) {
	footer span[role=separator]::before {
		content: '\A';
		white-space: pre;
	}
}

.site-info a {
	color: #c61610;
}

a:hover,
.site-footer a:hover {
	color: #999;
}

.jetpack-social-navigation a {
	color: #fff;
}

/**
 * Styles for company profile pages
 */

h1.company-name {
	margin-bottom: 8px;
}

.section-atAGlance {
	font-size: 15px;
	color: #999;
	font-size: 85%;
}

/**
 * Styles for the companies table and search on the main page
 */

#search-input {
	margin: 0 0 0 16px;
	padding: 8px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 300;
	vertical-align: middle;
}

#search-status {
	margin-left: 18px;
	font-size: 15px;
	font-weight: normal;
}

#search-explanation {
	font-style: italic;
	font-size: 15px;
	line-height: 18px;
}

@media screen and (min-width: 50em) {
	#search-explanation {
		font-size: 16px;
	}
}

table#companies-table th {
	border-bottom: 2px solid #eee;
	line-height: 1;
	padding: 9px 6px;
}

table#companies-table td {
	border-width: 0;
	line-height: 1;
}

table#companies-table tr.company-row td {
	border-top: 1px solid #eee;
	padding: 9px 6px;
}
table#companies-table tr.company-row.has-match td {
	padding-bottom: 3px;
}

table#companies-table tr.company-match td {
	padding: 0 0 9px 18px;
	font-size: 81%;
	font-style: italic;
}

/* Column-specific styles */

table#companies-table td.company-name {
	font-weight: 700;
	width: 40%;
}

table#companies-table td.company-website {
	width: 35%;
}

table#companies-table td.company-region {
	width: 25%;
}

/* Mobile-friendly display */

@media screen and (max-width: 600px) {
	body.search-enabled h2#companies {
		margin-bottom: 12px;
	}

	#search-input {
		display: block;
		width: 100%;
		margin: 27px 0 0 0;
	}

	#search-status {
		font-size: 13.5px;
		margin-left: 0;
	}

	table#companies-table,
	table#companies-table thead,
	table#companies-table tbody,
	table#companies-table tr {
		display: block;
	}

	table#companies-table tr.company-row {
		border-top: 1px solid #eee;
		padding: 7.5px 0 6px 12px;
		line-height: 1.2;
	}
	table#companies-table tr.company-row.has-match {
		padding-bottom: 3px;
	}

	table#companies-table tr.company-match td {
		padding-left: 12px;
		font-size: 90%;
	}

	table#companies-table thead tr {
		border-bottom: 2px solid #eee;
		padding: 0;
	}

	table#companies-table th,
	table#companies-table tr.company-row td,
	table#companies-table tr.company-row.has-match td {
		width: auto !important;
		padding: 0;
		border-width: 0;
	}

	table#companies-table th {
		display: inline-block;
	}

	table#companies-table th::after {
		padding: 0 3px 0 6px;
		content: '/';
	}

	table#companies-table th:last-child::after {
		display: none;
	}

	table#companies-table tr.company-row td.company-name,
	table#companies-table tr.company-row.has-match td.company-name {
		display: flex;
		font-size: 16px;
		font-weight: 700;
		padding-bottom: 3px;
		margin-left: -12px;
	}

	table#companies-table td.company-name a {
		flex: 100%;
	}

	table#companies-table td.company-website,
	table#companies-table td.company-region {
		display: inline;
		padding: 0;
	}

	table#companies-table td.company-region::before {
		padding: 0 6px 0 3px;
		content: '/';
	}

	table#companies-table td.company-region:empty::before {
		display: none;
	}
}
