<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<html ng-app>
<body>
    <div ng-controller="displayController">
        <table>
            <tr>
                <th></th>
                <th>Company</th>
                <th>URL</th>
                <th>Place</th>
            </tr>
            <tr><th>filter</th>
                <th><input type="text" ng-model="search.company" /></th>
                <th><input type="text" ng-model="search.url" /></th>
                <th><input type="text" ng-model="search.place" /></th>
            </tr>
            <tr ng-repeat='i in data | filter:search'>
                <td></td>
                <td>{{i.company}}</td>
                <td>{{i.url}}</td>
                <td>{{i.place}}</td>

            </tr>

        </table>
    </div>
    <script>
        function displayController($scope, $http, $filter) {
            $scope.search = {};
            $http.get('https://rawgit.com/jessicard/remote-jobs/master/README.md').then(function (data) {
                var dataSection = false;
                var res = [];
                var preData = data.data.split("\n");
                preData.forEach(function (entry) {
                    if (dataSection) {
                        console.log(entry);
                        var e = entry.split('|');
                        var cName = e[0];
                        if (cName.indexOf('[') != -1)
                            cName = cName.split('[')[1].split(']')[0];
                        res.push({ company: cName, url: e[1], place: e[2] });
                    }
                    else
                        if (entry.indexOf('---') != -1) dataSection = true;
                });
                $scope.data = res;
            }, function (data) {
                //Failed to load: Decide what to do later.
            });
        }
    </script>
</body>
</html>
