<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ title }}",
  "url": "{{ website }}"
  {%- if careers_url %},
  "sameAs": ["{{ careers_url }}"]
  {%- endif %}
}
</script>
