<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "@id": "{{ meta.url }}#website",
        "url": "{{ meta.url }}",
        "name": "{{ meta.siteName }}",
        "description": "{{ meta.siteDescription }}",
        "inLanguage": "{{ meta.locale }}"
      }
    ]
  }
</script>
