/* Global variables.  */

/* Basic variable definitions for color schemes */
:root {
  --gutter: var(--space-m-l);
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  --tracking: -0.04ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.04ch;
  --stroke: 1px solid var(--color-bg-accent);

  --gradient-rainbow: linear-gradient(90deg, #6366F1 10%, #14B8A6 30%, #22D3EE 50%, #818CF8 75%, #6366F1 90%);
  --gradient-conic: conic-gradient(
    var(--color-primary) 0 28%,
    var(--color-secondary) 0 67%,
    var(--color-tertiary) 0 100%
  );
  --gradient-stripes: linear-gradient(
    45deg,
    var(--color-gray-900) 0 75%,
    var(--color-primary) 0 85%,
    var(--color-secondary) 0 92%,
    var(--color-tertiary) 0 100%
  );
  --gradient-brand: linear-gradient(135deg, var(--color-indigo) 0%, var(--color-teal) 100%);

  --color-light: #F5F7FF;
  --color-dark: #090E1A;
  --color-mid: var(--color-gray-400);
}

/* Light theme */
:root,
:root[data-theme='light'] {
  --color-text: var(--color-gray-800);
  --color-bg: var(--color-light);

  --color-primary: var(--color-indigo);
  --color-secondary: var(--color-teal);
  --color-tertiary: var(--color-cyan);
  --color-highlight: var(--color-periwinkle);

  --color-text-accent: var(--color-gray-600);
  --color-bg-accent: var(--color-gray-200);
  --color-bg-accent-2: var(--color-gray-300);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-gray-100);
    --color-bg: var(--color-dark);

    --color-primary: var(--color-periwinkle);
    --color-secondary: var(--color-teal-subdued);
    --color-tertiary: var(--color-cyan-subdued);
    --color-highlight: var(--color-indigo-subdued);

    --color-text-accent: var(--color-gray-300);
    --color-bg-accent: var(--color-gray-800);
    --color-bg-accent-2: var(--color-gray-700);
  }
}
:root[data-theme='dark'] {
  --color-text: var(--color-gray-100);
  --color-bg: var(--color-dark);

  --color-primary: var(--color-periwinkle);
  --color-secondary: var(--color-teal-subdued);
  --color-tertiary: var(--color-cyan-subdued);
  --color-highlight: var(--color-indigo-subdued);

  --color-text-accent: var(--color-gray-300);
  --color-bg-accent: var(--color-gray-800);
  --color-bg-accent-2: var(--color-gray-700);
}
