a[href^='http']:not([href*='localhost:8080']):not([href*='dougaitken.co.uk']):not(.button):not(
    .no-indicator
  ):not(.external-link),
.indicator {
  padding-inline-end: 0.8em;
}

a[href^='http']:not([href*='localhost:8080']):not([href*='dougaitken.co.uk']):not(.button):not(
    .no-indicator
  ):not(.external-link)::after,
.indicator::after {
  position: absolute;
  display: inline-block;
  inline-size: 1em;
  block-size: 1em;
  background-image: url('/assets/images/template/external.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  /* alternative text rules */
  content: '(external link)';
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1em; /* the width of the icon */
}

/* Ensure buttons never get external link indicators */
.button::after {
  display: none !important;
  content: none !important;
}
