---
layout: base
schema: BlogPosting
---

<div class="region" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    {% if image %}
      <!-- image -->
      {% image image, alt or "", credit, "eager", "feature" %}
    {% endif %}

    <p class="meta | cluster gutter-xs-s">
      <!-- draft status -->
      {%- if draft -%}
        <span class="button" data-small-button data-button-variant="tertiary">draft</span>
      {%- endif %}
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %}
      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button" href="/tags/{{ tag | slugify }}/" data-small-button> {{ tag }} </a>
        {% endif %}{% endfor %}
      {% endif %}
    </p>

    {{ content | safe }}
    {% include 'partials/edit-on.njk' %}
  </div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      eleventy:ignore
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
</div>

{%- css "local" -%}
  {%- include 'css/post.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}
