---
layout: none
---
<!DOCTYPE html>
<html>
	<head>
		<meta name="charset" value="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Remote Jobs</title>
		<style type="text/css">
html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	font-family: Arial, sans-serif;
}

p {
	margin-top: -8%;
	text-align: center;
	line-height: 1.5em;
}
		</style>
	</head>
	<body>
		<p>
			This site is <strong>deprecated</strong>.
			<br />
			Go here instead:
			<a href="https://remoteintech.company/">remoteintech.company</a>
		</p>
	</body>
</html>
