---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- for page in collections.all -%}
{%- if page.url and page.data.redirectFrom -%}
{%- for oldUrl in page.data.redirectFrom %}
{{ oldUrl }} {{ page.url }}
{%- endfor %}
{%- endif -%}
{%- endfor -%}