---
fontDisplay: "'Red Hat Display', Ubuntu" # needed created in local development, font must be installed on your system.
fontBody: "'Atkinson Hyperlegible', Ubuntu" # needed created in local development, font must be installed on your system.
background: '#6366F1'
text: '#FFFFFF'
siteUrl: 'remoteintech.company'
pagination:
  data: collections.allPosts
  size: 1
  alias: post
permalink: '/assets/og-images/{{ post.data.title | slugify }}-preview.svg'
eleventyExcludeFromCollections: true
---

<svg
  width="1200"
  height="630"
  viewBox="0 0 1200 630"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  {% set titleInLines = post.data.title | splitlines(22) %}
  {% set numberOfLines = titleInLines.length %}
  {% if numberOfLines == 1 %}
    {% set verticalStartingPoint = 340 %}
    {% elseif numberOfLines == 2 %}
    {% set verticalStartingPoint = 290 %}
    {% elseif numberOfLines == 3 %}
    {% set verticalStartingPoint = 250 %}
    {% elseif numberOfLines == 4 %}
    {% set verticalStartingPoint = 210 %}
    {% elseif numberOfLines == 5 %}
    {% set verticalStartingPoint = 170 %}
  {% endif %}

  <rect id="bg" width="100%" height="100%" opacity="1" fill="{{ background }}" />
  <!-- star -->
  <g width="1096" height="1056" viewBox="0 0 1096 1056" fill="none" transform="translate(0, -150)">
    <path d="M235.048 2.31017L565.808 192.455L910.285 28.026L831.43 401.258L1094.33 677.671L714.848 718.199L533.127 1053.8L377.382 705.568L2.18875 636.646L285.207 380.519L235.048 2.31017Z" stroke="{{ text }}" stroke-opacity="0.1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
  </g>

  <!-- date -->
  <text
    font-family="{{ fontBody }}, sans-serif"
    font-size="22"
    font-weight="500"
    fill="{{ text }}"
    letter-spacing="-1"
  >
    <tspan x="160" y="{{ verticalStartingPoint - 120 }}">
      {{ post.date | formatDate('DD / MM / YYYY') }}
    </tspan>
  </text>

  <!-- title -->
  <text
    id="text"
    font-family="{{ fontDisplay }}, sans-serif"
    font-size="80"
    font-weight="900"
    fill="{{ text }}"
    letter-spacing="-3"
  >
    {% for line in titleInLines %}
      <tspan x="160" y="{{ verticalStartingPoint - 20 + loop.index0 * 85 }}"> {{ line }} </tspan>
    {% endfor %}
  </text>

  <!-- url -->
  <text
    font-family="{{ fontBody }}, sans-serif"
    font-size="22"
    font-weight="500"
    fill="{{ text }}"
    letter-spacing="-0.5"
  >
    <tspan x="160" y="580">{{ siteUrl }}</tspan>
  </text>


  <!-- sitename -->
  <text
    font-family="{{ fontDisplay }}, sans-serif"
    font-size="18"
    font-weight="950"
    fill="{{ text }}"
    letter-spacing="-0.5"
  >
    <tspan x="950" y="580">{{ meta.siteName | upper }}</tspan>
  </text>


</svg>
