{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.date) %}
{% set showTags = showTags | default(true) %}

<custom-card clickable>
  <{{ headingLevel }} slot="headline" class="text-step-2">
    <a href="{{ item.url | url }}">{{ item.data.title }}</a>
  </{{ headingLevel }}>
  <span slot="date">{%- if item.data.draft -%}<span class="button" data-small-button data-button-variant='tertiary'>draft</span>{%- endif %} {% include "partials/date.njk" %}</span>
  {% if showTags and item.data.tags.length > 1 %}
    <div slot="tag" webc:nokeep>
      {% for tag in item.data.tags %}
        {% if tag != "posts" %}
          <span class="button" data-small-button>{{ tag }}</span>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <div slot="content" webc:nokeep>{{ item.data.description | markdownFormat | safe }}</div>
</custom-card>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
