{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.date) %}

<custom-card clickable>
  <{{ headingLevel }} slot="headline" class="text-step-2">
    <a href="{{ item.url | url }}">{{ item.data.title }}</a>
  </{{ headingLevel }}>
  <span slot="date"> {% include "partials/date.njk" %} </span>
  <p slot="content">{{ item.data.description }}</p>
</custom-card>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
