<is-land on:idle>
  <div class="gallery | grid mt-l-xl gutter-xs" role="list">
    {%- for item in gallery -%}
      <dialog class="flow modal{{ loop.index }}">
        <div class="cluster justify-center flow-space-m gutter-s">
          <button data-nav="prev" class="button text-step-1" data-button-variant="primary">
            <span class="visually-hidden">{{ meta.dialog.previous }}</span>{% svg "misc/arrow-left" %}
          </button>
          <button data-close class="button" autofocus data-button-variant="primary">
            {{ meta.dialog.close }}
          </button>
          <button data-nav="next" class="button text-step-1" data-button-variant="primary">
            <span class="visually-hidden">{{ meta.dialog.next }}</span>{% svg "misc/arrow-right" %}
          </button>
        </div>
        {%- image item.image, item.alt, item.caption -%}
      </dialog>
      <button data-index="{{ loop.index }}">{%- image item.image, item.alt -%}</button>
    {%- endfor -%}
  </div>

  {% css "local" %}
    {% include "css/gallery.css" %}
  {% endcss %}

  {% js "defer" %}
    {% include "scripts/dialog.js" %}
  {% endjs %}
</is-land>
