<header class="wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="repel ontop gutter-s">
    <a href="/" class="logo | cluster" {{ indicateActiveHome }}>
      {% svg "misc/logo" %}

      <span class="font-display">{{ meta.siteName }}</span>
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
